<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "Tweet360", '#', id: "logo" %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Home", root_path, id: "home" %></li>
						<li><%= link_to "Help", help_path, id: "help" %></li>
						<li><%= link_to "Sign in", '#', id: "signIn" %></li>
					</ul>
				</nav>
			</div>	
		</div>
	</header>